/target
**/*.rs.bk
/data
.vscode


#Added by cargo
#
#already existing elements are commented out

#/target
#**/*.rs.bk
*.lock


#Added by cargo
#
#already existing elements are commented out

#/target
#**/*.rs.bk
